* {
  box-sizing: border-box;
}

:root{
    --yellow:#fb3;
    --dark:#611224;
    --dark-grey:#222;
}

/* =============index===================== */
.post.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.post-data{
   padding-bottom:1px;
   margin-bottom: 4px;
   border-bottom: 1px solid var(--dark-grey)  
}

.post-title{
    color:#fb3;
}

a.post-title:hover{
    color:#611224;
    text-decoration:  #222;
}

.post-content{
    white-space:pre-line;
}






/* =============ennd index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */

/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
