* {
  box-sizing: border-box;
}

:root {
  --yellow: #fb3;
  --dark: #611224;
  --dark-grey: #222;
}

/* =============inavbar==================== */

nav.navbar.navbar-light {
  margin-bottom: 32px;
}

/* =============index===================== */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.post-img {
  height: 60px;
  width: 60px;
  margin-right: 16px;
  border: 1px solid #dddd;
  margin-bottom: 4px;
}

.post-data {
  padding-bottom: 1px;
  margin-bottom: 5px;
  border-bottom: 1px solid #dddd;
}

.post-data>a{
    text-transform: capitalize;
    margin-left:4px;
    padding-right: 4px;
}

.post-title a {
  color: #fb3 !important;
  text-transform: capitalize;
  font-size:23px;
  line-height: 28px;
  text-shadow:1px 1px 1px #222;
}


a.post-title:hover {
  color: #611224;
  text-decoration: #222;
  
}

.post-content {
  white-space: pre-line;
  /* font-size:18px; */
  line-height: 23px;
  color: var(--dark-grey) !important;
}

/* =============ennd index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */

/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
/* =============index===================== */
