{%extends 'base.html'%} 

{% block content%}
    
        <article class="post content-section">
            <img src="{{url_for('static',filename='photos/'+blog_post.author.profile_image)}}" class="rounded-circle post-img" alt="">
          <div class="post-body">
            <div class="post-data">
              <a href="{{url_for('main.profile',uname=blog_post.author.username)}}"
                >{{ blog_post.author.username }}</a
              >
              <small class="text-muted">{{ blog_post.date.strftime("%Y-%m-%d") }}</small>
            </div>
            <h2 class="post-title">
              <a href="#">{{
                blog_post.title
              }}</a>
            </h2>
            <p class="post-content">{{ blog_post.text }}</p>
          </div>
          <div class="post-footer">

        {% if blog_post.author== current_user %}
        <div>
            <a class="btn btn-sm btn-primary" href="{{url_for('main.update_post',blog_post_id=blog_post.id)}}">Update</a>
            <button type="btn" class="btn btn-sm btn-danger"  data-toggle='modal' data-target='#delete_modal'>Delete</button>
        </div>

        <!-- modal -->
        <div class="modal" tabindex="-1" role="dialog" id='delete_modal'>
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <form action="{{url_for('main.delete_post',blog_post_id=blog_post.id)}}">
                    <button type="submit" class="btn btn-danger">Delete</button>
      
                </form>
                
              </div>
            </div>
          </div>
        </div>
        <!-- modal end -->
        
        {% endif %}

          </div>

        </article>

    <div class="comment-options">  
          <a class="btn btn-sm btn-secondary text-center" href="{{url_for('main.new_comment',blog_post_id=blog_post.id)}}">
            Comment</a >   
      </div>
      
      <!-- comments -->
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

        
          {% for comment in comments%}
          <div class="col-12">
              <article class="post comment-section">
                  <div class="">
                      <a class="mr-2"><h4> {{comment.commenter.username}} </h4></a>
                  </div>
                  <p class="comment-content lead">{{comment.comment_content}}</p>

                 {% if blog_post.author==current_user %}
                  <div>
            
                      <button type="btn btn-primary" name="button" data-toggle='modal' data-target='#delete_comment_modal'>Delete</button>
                  </div>

                        <!-- delete comment modal -->
              <div class="modal" tabindex="-1" role="dialog" id='delete_comment_modal'>
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Delete Comment?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        <form action="{{url_for('main.delete_comment',blog_post_id=blog_post.id,comment_id=comment.id)}}">
                            <button type="submit" class="btn btn-danger">Delete</button>
              
                        </form>
                        
                      </div>
                    </div>
                  </div>
                </div>
            <!-- delete coment modal end -->
                 
                 {% endif %}
                  
              </article>
          </div>
          {% endfor %}
        
        </div>
        <div class="col-md-2"></div>
      </div>
      <!-- end comments -->
    </div>

    </div>
{% endblock%}